services:
  db:
    image: postgres:latest
    restart: always
    container_name: postgres-db
    ports:
    - '5432:5432'
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=postgres
    volumes:
    - db:/var/lib/postgresql
    - ./sql/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql

  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]

  worker:
    build: 
      context: ./MB-App-Express-Backend
      dockerfile: Dockerfile
    command: npm run worker
    env_file: .env
    depends_on: [redis, db]

  express-app:
    #add restart:always to keep trying connection to postgres db
    restart: always
    container_name: express-backend
    build:
      context: ./MB-App-Express-Backend
      dockerfile: Dockerfile
    ports:
      - '5005:5005'    
    depends_on:
      - redis
      - db
    links: 
      - db
    
  frontend:
    build:
      context: ./MB-App-React-Frontend
      dockerfile: Dockerfile
    container_name: react-frontend
    ports:
      - '6969:4173'
      
volumes:
  db:
    driver: local

  